span img {
  height: 45px;
  width: 45px;
  margin-right: 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.mdl-layout__header {
  background-color: #002147;
}

.mdl-grid {
  text-align: center;
}
